@import "../../assets/styles/custom-variables.scss";

// Authentication Page CSS
.auth-page {
    // background: url('../../assets/images/bg-banner2.jpg') no-repeat;
    background-size: cover;

    .logo-wrapper img {
        width: 100px;
    }

    .form-control,
    .form-select {
        border-color: $theme3;
        background-color: transparent;
        min-height: 45px;
    }

    .content-wrapper {
        padding: 2.25rem 1rem;
        border-radius: 20px;

        @include media-breakpoint-up(xl) {
            min-height: 550px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        @include media-breakpoint-up(sm) {
            padding: 2.5rem 2.5rem;
        }
    }

    .react-tel-input {
        .form-control {
            border: 1px solid #A2845E;
            border-radius: $input-border-radius;
            background-color: transparent;
        }

        .flag-dropdown {
            border: 1px solid #A2845E;
            border-top-left-radius: $input-border-radius;
            border-bottom-left-radius: $input-border-radius;
        }
    }
}