/* ----------------------------------
  1. Define Custom SCSS Variables
---------------------------------- */
$enable-negative-margins: true;

$theme1: #FDFCF5;
$theme2: #F9E2C5;
$theme3: #A2845E;

$sidebar-bg: #064cb8;
$primary: #B88746;
$success: #027A48;
$warning: #B54708;
$danger: #B42318;
$primary-gradient-start: #B88746;
$primary-gradient-end: #DEC46A;
$placeholder-clr: #667085;

$body-color: #344054;
$btn-border-radius: 0.30rem;
$input-border-color: #bac1cc;
$input-border-radius: 0.30rem;
// $font-size-base: 0.875rem;
$font-family-base: "Inter", sans-serif;
$btn-padding-x: 1rem;


/* ----------------------------------
  2. Import Bootstrap Core SCSS (in correct order)
---------------------------------- */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables"; // sets default vars like $indigo, $blue
@import "~bootstrap/scss/mixins";


// Override just what you need
$container-max-widths: map-merge($container-max-widths, (xl: 1170px));

/* ----------------------------------
  3. Extend Theme Colors and Utilities (BEFORE importing utilities)
---------------------------------- */
$theme-colors: map-merge($theme-colors,
    ("theme1": $theme1,
      "theme2": $theme2,
      "theme3": $theme3,
    ));